<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="DefaultConnection" connectionString="Server=mediamanager.database.windows.net;Database=MediaManager;User ID=dcritchlow;Password=%xCNP932Ze^h&amp;dYjxasDqzNiE68$hW;Integrated Security=False"
        providerName="System.Data.SqlClient" />
</connectionStrings>